<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Create New Account</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <input ng-model="contact.email" type="email" placeholder="Email">
          </label>
          <button class="button button-full button-positive" ng-click="addContact(contact)">Create</button>
        </div>
    </ion-content>
</ion-modal-view>